.signup-container {
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #236ef8;;
}
.signup-container form div {
    margin-bottom: 5px;
}
.signup-container form label {
    display: block;
    margin-bottom: 10px;
    color: #b62121;
}
.signup-container form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.signup-container button {
    width: 100%;
    padding: 10px;
    border: 5px;
    border-radius: 4px;
    background: #0275d8;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
}
.signup-container button:hover {
    background: #025aa5;
}